<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>Find A Song</title>
</head>
<body class="find-song-body">
    <div class="library-header">
        <a href="{{ url_for('library') }}">Music Library</a>
        <h1>Find A Song</h1>
        <div class="temp-search"></div>
    </div>
    <form method="POST" action="/find-song">
        <label for="title-name">Song Title: </label>
        <input name="title" type="text">
        <input name="submit" type="submit">
    </form>
    <div class="footer">
        <p>Webpage by: Jesse Brusa</p>
        <p>Song Compiler</p>
        <p>© Copyright 2023</p>
    </div>
</body>
</html>