<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>Find A Song</title>
</head>
<body class="find-song-body">
    <div class="library-header">
        <a href="{{ url_for('library') }}">Music Library</a>
        <h1>Find A Song</h1>
        <div class="temp-search"></div>
    </div>
    <form method="POST" action="/find-song">
        <div class="rowItems">
            <label for="title-name">Song Title: </label>
            <input name="title" type="text" class="searchInput" required>
        </div>
        <div class="rowItems">
            <label for="title-name">(Not Required) Artist: </label>
            <input name="artist" type="text" class="searchInput">
        </div>
        <div class="rowItems">
            <label for="title-name">Search Mp3?: </label>
            <div class="radioWidth">
                Yes:<input name="mp3YesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="mp3YesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <div class="rowItems">
            <label for="title-name">Search Karaoke?: </label>
            <div class="radioWidth">
                Yes:<input name="karaokeYesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="karaokeYesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <div class="rowItems">
            <label for="title-name">Search Tabs?: </label>
            <div class="radioWidth">
                Yes:<input name="tabYesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="tabYesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <input name="submit" type="submit" class="searchSubmit">
    </form>
    {% include 'footer.html' %}
</body>
</html>