<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Find A Song</title>
</head>
<body class="find-song-body">
    {% include 'header.html' %}
    <div class="library-header">
        <h1 class="findSongHeader">Find A Song</h1>
    </div>
    <form method="POST" action="{{ url_for('find_song') }}" id="myForm">
        <div class="rowItems">
            <label for="title-name" class="item1">Song Title: </label>
            <input name="title" type="text" class="searchInput item2" required>
        </div>
        <div class="rowItems">
            <label for="title-name" class="item1">(Not Required) Artist: </label>
            <input name="artist" type="text" class="searchInput item2">
        </div>
        <div class="rowItems">
            <label for="title-name" class="item1">Search Mp3?: </label>
            <div class="radioWidth item2">
                Yes:<input name="mp3YesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="mp3YesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <div class="rowItems">
            <label for="title-name" class="item1">Search Karaoke?: </label>
            <div class="radioWidth item2">
                Yes:<input name="karaokeYesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="karaokeYesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <div class="rowItems">
            <label for="title-name" class="item1">Search Tabs?: </label>
            <div class="radioWidth item2">
                Yes:<input name="tabYesNo" type="radio" value="yes" class="radio" checked>
                No:<input name="tabYesNo" type="radio" value="no" class="radio">
            </div>
        </div>
        <input name="submit" type="submit" class="searchSubmit" id="loadButton">
    </form>
    <div id="loading" style="display: none;">
        <p class="loadingInfo">Loading...</p>
        <img src="../static/img/Bouncing ball.gif" alt="Loading Spinner" class="loadingGif">
    </div>
    {% include 'footer.html' %}
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (event) {
                event.preventDefault();

                $("#myForm").hide();

                $("#loading").show();
    
                var formData = $(this).serialize();
    
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: formData,
                    success: function (response) {
   
                        $("#loading").hide();
                        window.location.href = response.redirect;
                    },
                    error: function (error) {
    
                        $("#loading").hide();
                    }
                });
            });
        });
    </script>
</body>
</html>