<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>{{ info.name }}</title>
</head>
<body class="library-body">
    {% include 'header.html' %}
    <h1 class="libraryHeader">{{ info.name }}</h1>
        {% if info.description %}
            <p class="partyDescription">{{ info.description }}</p>
        {% endif %}
        <div class="groupBodyContainer">
            <div class="groupUsersContainer flex1">
                <h2><u>Users</u></h2>
                {% for user in users %}
                    {% if current_user.username != user.username %}
                        <div class="userSideBar">
                            {% if info.administrator %}
                                {% if user.administrator %}
                                    <a href="{{ url_for('visit_dashboard', user_id=user.user_id) }}">
                                        <h3>{{ user.username }}</h3>
                                    </a>    
                                {% else %}
                                    <a href="{{ url_for('visit_dashboard', user_id=user.user_id) }}">
                                        <h3>{{ user.username }}</h3>
                                    </a>
                                    <a href="{{ url_for('make_user_group_admin', party_id=info.party_id, user_id=user.user_id) }}" class="adminUser">Make User Admin</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ url_for('visit_dashboard', user_id=user.user_id) }}">
                                    <h3>{{ user.username }}</h3>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="music-card-container">
                {% for song in songs %}
                    <div class="musicCardRemoveContainer">
                        <a href="{{ url_for('song_page', song_id=song.song_id) }}">
                            <div class="musicCardBody">
                                <div class="music-card">
                                    <h2>{{ song.title }}</h2>
                                    <h3>{{ song.artist }}</h3>
                                    <div class="img-container-library">
                                        <img src="{{ song.img_url }}" alt="picture of song and or songs artist">
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% if info.administrator %}
                            <a href="{{ url_for('remove_song_from_group', party_id=info.party_id, song_id=song.song_id) }}" class="removeSong">REMOVE SONG</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if info.administrator %}
            <div class="adminOptionsContainer">
                <a href="{{ url_for('invite_user', party_id=info.party_id) }}">ADD USER TO GROUP</a>
                <a href="{{ url_for('edit_description', party_id=info.party_id) }}">EDIT GROUP DESCRIPTION</a>
                <a href="{{ url_for('edit_group_name', party_id=info.party_id) }}">EDIT GROUP NAME</a>
                <a href="{{ url_for('leave_group', party_id=info.party_id) }}" class="deleteGroup">LEAVE GROUP</a>
                <a href="{{ url_for('delete_group', party_id=info.party_id) }}" class="deleteGroup">DELETE GROUP</a>
            </div>
        {% else %}
            <div class="adminOptionsContainer">
                <a href="{{ url_for('leave_group', party_id=info.party_id) }}" class="deleteGroup">LEAVE GROUP</a>
            </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}  
</body>
</html>