<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>Music Library</title>
</head>
<body class="library-body">
    <div class="library-header">
        <a href="{{ url_for('find_song') }}">Find A Song</a>
        <h1>Music Library</h1>
        <div class="temp-search"></div>
    </div>
    <div class="music-card-container">
        {% for song in songs %}
            <a href="#"><div class="music-card">
                <h2>{{ song[1] }}</h2>
                <h3>test artist</h3>
                <div class="img-container-library">
                    <img src="{{ song[10] }}" alt="picture of song and or songs artist">
                </div>
            </div></a>
        {% endfor %}
    </div>
    <div class="footer">
        <p>Webpage by: Jesse Brusa</p>
        <p>Song Compiler</p>
        <p>© Copyright 2023</p>
    </div>    
</body>
</html>