<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>{{ info.title }}</title>
</head>
<body class="song-page-body">
    {% include 'header.html' %}
    <div class="hero-container">
        <div class="leftSongPage">
            {% if info.favorite_check and current_user.is_authenticated%}
                <a href="{{ url_for('remove_favorite', song_id=info.song_id) }}" class="songPageFavorites">Remove From Favorites</a>
                <a href="{{ url_for('select_group', song_id=info.song_id) }}" class="songPageFavorites">Add To A Group</a>
            {% elif current_user.is_authenticated %}
                <a href="{{ url_for('connect_song', song_id=info.song_id) }}" class="songPageFavorites">Add To Library</a>
            {% endif %}
        </div>
        <div class="hero-text-container">
            <h1>{{ info.title }}</h1>
            <div class="infoBackground">
                <h2>{{ info.artist }}</h2>     
            </div>
        </div>
        <div class="hero-img-container">
            <img src="{{ info.img_url }}" alt="picture of song and or songs artist">
        </div>
    </div>
    <div class="music-player">
        <div class="mp3-container">
            {% if info.mp3_check and info.mp3_url%}
                <h3>MP3</h3>
                <audio controls src="{{ info.mp3_url }}"></audio>
            {% elif info.mp3_check %}
                <h3>No MP3 Found</h3>
            {% else %}
                <a href="{{ url_for('get_mp3', song_id=info.song_id) }}" class="getData">
                    <h3>Get MP3</h3>
                </a>
            {% endif %}    
        </div>
        <div class="karaoke-container">
            {% if info.karaoke_check and info.karaoke_url %}  
                <h3>Karaoke</h3>
                <audio controls src="{{ info.karaoke_url }}"></audio>
            {% elif info.karaoke_check %}
                <h3>NO Karaoke Found</h3>
            {% else %}
                <a href="{{ url_for('get_karaoke', song_id=info.song_id) }}" class="getData">
                    <h3>Get Karaoke</h3>
                </a>
            {% endif %}
        </div>
    </div>
    {% if info.lyric_check and lyrics %}
        <div class="lyrics-container">
            <p>
                {% for lyric in lyrics %}
                    {{ lyric }}<br>
                {% endfor %}
            </p>
        </div>
    {% elif info.lyric_check %}
        <div class="lyrics-container">
            <h3 class="textCenter">No Lyrics Found</h3>
        </div>
    {% endif %}
    {% if info.tab_check and info.tab_url %}
        <div class="pdf-container">
            <object data="{{ info.tab_url }}" type="application/pdf" width="100%" height="1200px">
                <p>It appears you don't have a PDF plugin for this browser.
                   You can <a href="{{ info.tab_url }}">download the PDF file.</a></p>
            </object>
        </div>
    {% elif info.tab_check %}
        <div class="lyrics-container">
            <h3 class="textCenter">No Tabs Found</h3>
        </div>
    {% else %}
        <a href="{{ url_for('get_tab', song_id=info.song_id) }}" class="getData getTab">
            <div class="lyrics-container expandContract">
                <h3 class="textCenter">GET Tabs</h3>
            </div>    
        </a>
    {% endif %}
    {% if current_user.is_authenticated %}
        <button class="deleteButton", id="remove", data-song-id="{{ info.song_id }}">
            REMOVE From Your Library
        </button>
    {% endif %}
    {% include 'footer.html' %}
    <script src="../static/js/main.js"></script>
    <script>
        var removeButton = document.getElementById('remove')
        var songId = removeButton.getAttribute('data-song-id')
        removeButton.addEventListener('click', function () {
            createConfirmationDialog('Are you sure you want to remove this song from your library?', 'remove-song/' + songId, 'remove')
        })
    </script>
</body>
</html>