@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@700&display=swap');

/* * {
    border: 2px solid red;
} */

body {
    background-image: url("../img/acoustic-guitar.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #e5ba88;
    text-align: center;
    font-size: 70px;
    font-family: 'roboto';
    margin-bottom: 0%;
    background-color: black;
    padding: 25px;
}

.direction-container {
    background-color: rgba(157, 147, 148, .7);
    border-radius: 20px;
    width: 40%;
    padding: 35px;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.direction-container > a {
    text-decoration: none;
    color: #352a23;
    background-color: #a0a088;
    border: 2px solid white;
    padding: 30px;
    font-size: 35px;
    border-radius: 25px;
    font-weight: 800;
    font-family: 'cabin';
    margin-top: 10px;
    margin-bottom: 10px;
}

.direction-container > a:hover {
    transform: scale(1.3);
}

.direction-container > a:active {
    transform: scale(.9);
}

.footer {
    background-color: #e5ba88;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #352a23;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'cabin';
    box-sizing: border-box;
}

.library-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    background-image: none;
}

.library-body > img {
    width: 400px;
}

.library-body a {
    text-decoration: none;
}

.music-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    gap: 50px;
    margin: 50px;
}

.music-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9d9394;
    justify-content: center;
    width: 300px;
    height: 400px;
    gap: 25px;
}

.music-card:hover {
    transform: scale(1.15);
}

.music-card h2 {
    text-align: center;
    color: black;
    margin: 0;
    font-size: 30px;
    font-family: 'cabin';
}

.music-card h3 {
    font-size: 20px;
    font-family: 'cabin';
    color: black;
    margin: 0;
}

.music-card img {
    width: 200px;
    height: auto;
}

.img-container-library {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
    box-sizing: border-box;
}

.hero-text-container {
    text-align: center;
    margin: auto;
    width: fit-content;
}   

.hero-container h2 {
    color: #9d9394;
}

.hero-img-container {
    width: 20%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.nav-links a{
    color: white;
    text-decoration: none;
    align-items: center;
}

@media screen and (max-width: 1700px) {
    .library-body {
        flex-direction: column;
    }

    .library-body > img {
        display: none;
    }
}