@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@700&display=swap');

/* * {
    border: 2px solid red;
} */

body {
    background-image: url("../img/acoustic-guitar.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #e5ba88;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0%;
    background-color: black;
    padding: 25px;
}


.libraryHeader {
    text-align: center;
}

.libraryBodyContainer {
    display: flex;
    
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    width: 90%;
}

.navBar > a {
    text-decoration: none;
    color: #352a23;
    background-color: #a0a088;
    border: 2px solid white;
    padding: 30px;
    font-size: 32px;
    border-radius: 25px;
    font-weight: 800;
    font-family: 'cabin';
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
    scale: .8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar > a:hover {
    transform: scale(1.2);
}


.navBar > a:active {
    transform: scale(.85);
}

.homePage {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(157, 147, 148, .7);
    padding: 20px;
    border-radius: 20px;
}

.registerLogin {
    margin-top: 75px;
}

.submitButton {
    width: 40%;
    font-size: 45px;
    padding: 20px;
    border-radius: 20px;
}

.submitButton:hover {
    transform: scale(1.2);
}

.submitButton:active {
    transform: scale(.85);
}

.direction-container > a:hover {
    transform: scale(1.3);
}

.direction-container > a:active {
    transform: scale(.9);
}

.footer {
    background-color: #e5ba88;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #352a23;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'cabin';
    box-sizing: border-box;
    margin-top: 40px;
}

.library-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    background-image: none;
}

.library-body > img {
    width: 400px;
}

.library-body a {
    text-decoration: none;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 45px;
}

.library-header h1{
    margin: 0%;
}

.library-header > a {
    color: white;
    width: 160px;
    background-color: #e5ba88;
    border: 4px solid #9d9394;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'roboto';
    padding: 20px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 60px;
}

.library-header a:hover {
    transform: scale(1.15);
}

.library-header a:active {
    transform: scale(.95);
}

.temp-search {
    background-color: black;
    width: 160px;
}

.music-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    gap: 50px;
    margin: 50px;
}

.music-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9d9394;
    border-radius: 20px;
    justify-content: center;
    width: 300px;
    height: 400px;
    gap: 25px;
}

.music-card h2 {
    text-align: center;
}


.music-card:hover {
    transform: scale(1.1);
}

.music-card h2 {
    text-align: center;
    color: black;
    margin: 0;
    font-size: 30px;
    font-family: 'cabin';
}

.music-card h3 {
    font-size: 20px;
    font-family: 'cabin';
    color: black;
    margin: 0;
    text-align: center;
}

.music-card img {
    width: 200px;
    height: auto;
    max-height: 200px;
    display: flex;
    justify-content: center;
}


.musicCardRemoveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.musicCardAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.removeSong {
    text-decoration: none;
    color: white;
    background-color: darkred;
    width: 95%;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.removeSong:hover {
    transform: scale(1.15);
}

.removeSong:active {
    transform: scale(.85)
}

.addLink {
    text-decoration: none;
    color: black;
    background-color: #a0a088;
    width: 95%;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
}

.addLink:hover {
    transform: scale(1.2);
}

.addLink:active {
    transform: scale(.85);
}

.img-container-library {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.song-page-body {
    background-image: none;
}

.song-page-body h1 {
    background-color: transparent;
    margin: 0;
    font-family: 'cabin';
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 95%;
    box-sizing: border-box;
    background-color: #9d9394;
    border-radius: 25px;
    padding: 15px;
}


.hero-container h2 {
    color: #9d9394;
    font-size: 40px;
    font-family: 'cabin';
}

.hero-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-container img {
    max-width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-left: 20px;
    gap: 25px;
    padding: 10px;
}

.nav-links a{
    color: white;
    width: 200px;
    background-color: #e5ba88;
    border: 4px solid #9d9394;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'roboto';
    padding: 20px;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.nav-links a:hover {
    transform: scale(1.15);
}

.nav-links a:active {
    transform: scale(.95);
}

.music-player {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.mp3-container {
    background-color: #a0a088;
    padding: 15px;
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    width: 300px;
    font-size: 25px;
}

.karaoke-container {
    background-color: #a0a088;
    padding: 15px;
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    width: 300px;
    font-size: 25px;
    padding-bottom: 10px;
}

.lyrics-container {
    background-color: white;
    border: #352a23;
    border-radius: 25px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px;
    font-size: 32px;
    font-family: 'roboto';
    margin-bottom: 50px;
}

.pdf-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.find-song-body {
    background-image: none;
}


.textCenter {
    text-align: center;
}

.hero-text-container {
    flex: 2;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
}   


.hero-text-container h2 {
    color: #352a23;
    font-size: 40px;
    margin: 5px;
}

.hero-text-container h3 {
    color: black;
    font-size: 25px;
    margin: 0;
}

form {
    width: 60%;
    background-color: #9d9394;
    outline: 5px solid #352a23;
    padding: 20px;
    font-family: 'roboto';
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
}

form > label {
    min-width: 150px;
}

form > input{
    width: 100%;
}

.getData {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

.getData:hover {
    transform: scale(1.1);
}

.getData:active {
    transform: scale(.85);
}

.expandContract:hover {
    transform: scale(1.1);
}

.expandContract:active {
    transform: scale(.85);
}

.getTab {
    width: 40%;
    margin-bottom: 50px;
}

label {
    font-size: 50px;
}

.searchInput {
    font-size: 50px;
    height: 60px;
    border-radius: 20px;
}

.searchSubmit {
    height: 100px;
    width: 350px;
    border-radius: 20px;
    font-size: 50px;
}

.searchSubmit:hover {
    transform: scale(1.2);
}

.searchSubmit:active {
    transform: scale(.85);
}

.rowItems {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item1 {
    flex: 1;
    text-align: end;
}

.item2 {
    flex: 1;
}

.radioWidth {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.radio {
    scale: 2;
    font-size: 50px;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingInfo {
    color: white;
    font-size: 80px;
}

.loadingGif {
    scale: 4;
}

.dashboardHeader {
    margin: 0;
}

.dashboardBody {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.dashboardFavs {
    flex: 1;
}

.dashboardFavs h2 {
    color: #9d9394;
    text-decoration: underline;
    font-size: 80px;
    text-align: center;
}

.favCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9d9394;
    border-radius: 20px;
    margin: 40px;
    height: 130px;
}

.favCard:hover {
    transform: scale(1.2);
}

.favCard:active {
    transform: scale(.85);
}

.favCard img {
    max-height: 100%;
    width: auto;
    border-radius: 20px;
}

.favCard h3 {
    margin: 0;
    font-size: 35px;
    color: #352a23;
}

.favCard h4 {
    margin: 0;
    font-size: 25px;
    color: #352a23;
}

.dashboardTitleArtist {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardGroups {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardGroups h2 {
    color: #9d9394;
    text-decoration: underline;
    font-size: 80px;
    text-align: center;
}

.createGroupLink {
    text-decoration: none;
    color: black;
    background-color: #e5ba88;
    padding: 15px;
    border-radius: 20px;
    font-size: 40px;
}

.createGroupLink:hover {
    transform: scale(1.2);
}

.createGroupLink:active {
    transform: scale(.85);
}

.deleteButton {
    text-decoration: none;
    background-color: #9d9394;
    width: 45%;
    color: darkred;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.deleteButton:hover {
    transform: scale(1.2);
}

.deleteButton:active {
    transform: scale(.85);
}

.songPageFavorites {
    flex: 1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #352a23;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 10px 0px;
}

.songPageFavorites:hover {
    transform: scale(1.05);
}

.songPageFavorites:active {
    transform: scale(.85);
}

.favBox {
    flex: 1;
}

.leftSongPage {
    flex: 1;
}

.findSongHeader {
    text-align: center;
    width: 100%;
}

.messageBox {
    font-size: 20px;
    height: 200px;
    flex: 1;
}

.margin20 {
    margin-top: 85px;
}

.partyCardA {
    text-decoration: none;
    width: 70%;
    text-align: center;
    background-color: #9d9394;
    color: #352a23;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    font-size: 35px;
}

.partyCardA:hover {
    transform: scale(1.2);
}

.partyCardA:active {
    transform: scale(.85);
}


.partyDescription {
    background-color: #352a23;
    color: white;
    width: 50%;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    font-size: 35px;
}

.selectGrouph2 {
    font-size: 55px;
    color: #a0a088;
}

.selectGroup {
    text-decoration: none;
    background-color: #9d9394;
    color: #352a23;
    font-size: 40px;
    padding: 15px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    margin: 25px;
}


.selectGroup:hover {
    transform: scale(1.2);
}

.selectGroup:active {
    transform: scale(.85);
}


.adminOptionsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    width: 80%;
}

.adminOptionsContainer a {
    background-color: #a0a088;
    color: #000;
    padding: 15px;
    font-size: 25px;
    flex: 2;
    text-align: center;
    border-radius: 20px;
}

.adminOptionsContainer a:hover {
    transform: scale(1.12);
}

.adminOptionsContainer a:active {
    transform: scale(.85);
}

.adminOptionsContainer .deleteGroup  {
    background-color: darkred;
    color: white;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
}

.deleteGroup:hover {
    transform: scale(1.15);
}

.deleteGroup:active {
    transform: scale(.85)
}

.editP {
    font-size: 55px;
}

.invCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding10 {
    padding: 10px;
}

.acceptDecline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.acceptDecline a:hover {
    transform: scale(1.2);
}

.acceptDecline a:active {
    transform: scale(.85);
}

.scale105:hover {
    transform: scale(1.05);
}

.acceptParty {
    background-color: darkgreen;
    text-decoration: none;
    flex: 1;
    font-size: 30px;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.declineParty {
    text-decoration: none;
    background-color: darkred;
    flex: 1;
    font-size: 30px;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.flex1 {
    flex: 1;
}

.flex5 {
    flex: 5;
}

.groupBodyContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 40px;
    width: 95%;
}

.groupBodyContainerVisit {
    display: flex;
    justify-content: center;
    margin: 40px;
    width: 95%;
}

.groupUsersContainer {
    background-color: #352a23;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    border-radius: 20px;
    gap: 10px;
    flex: 1;
}

.groupUsersContainer  h2{
    color: white;
}

.userSideBar {
    background-color: #9d9394;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 20px;
    padding: 5px;
}


.userSideBar a {
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    color: black;
}

.adminUser {
    background-color: #a0a088;
    margin-top: -20px;
}

.userSideBar a:hover {
    transform: scale(1.15);
}

.userSideBar a:active {
    transform: scale(.85);
}

.musicCardBody {
    display: flex;
}

#confirmContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    color: white;
    width: 50%;
    padding: 10px;
}

.linkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    padding: 10px;
    width: 40%;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
}

.removeYes {
    flex: 1;
    text-decoration: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: darkgreen;
    text-align: center;
}

.removeNo {
    flex: 1;
    font-size: 45px;
    background-color: darkred;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.removeYes:hover {
    transform: scale(1.15)
}

.removeYes:active {
    transform: scale(.85);
}

.removeNo:hover {
    transform: scale(1.15)
}

.removeNo:active {
    transform: scale(.85);
}

@media screen and (max-width: 1500px) {
    .hero-container {
        flex-direction: column;
    }

    .searchInput {
        width: 40%;
    }

    label {
        font-size: 20px;
    }

    .searchSubmit {
        scale: .7;
    }

    .submitButton {
        scale: .7;
        font-size: 20px;
    }

    .groupUsersContainer {
        flex: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        width: 80%;
    }
}

@media screen and (max-width: 1700px) {
    .library-body {
        flex-direction: column;
    }

    .library-body > img {
        display: none;
    }
}