<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Edit Karaoke</title>
</head>
<body class="find-song-body">
    {% include 'header.html' %}
    <form action="{{ url_for('edit_karaoke', song_id=song_id, title=title) }}" method="POST" class="registerLogin" enctype="multipart/form-data">
        <div class="rowItems fileRowItems">
            <label for="title-name" class="item1">Karaoke: </label>
            <input type="file" id="file" name="file" accept=".mp3" class="item2" required>
        </div>
        <input type="submit" class="submitButton">
    </form>
    {% include 'footer.html' %}
</body>
</html>