<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Music Library</title>
</head>
<body class="library-body">
    <img src="../static/img/left-guitar.png" alt="electric guitar facing inward from the left">
    <div class="content-container">
        <h1>Music Library</h1>
        <h2>testing</h2>
        <h3>testing</h3>
    </div>
    <img src="../static/img/right-guitar.jpg" alt="electri guitar facing inward from the right">
</body>
</html>