<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Login</title>
</head>
<body class="find-song-body centerVertically">
    {% include 'header.html' %}
    <form action="{{ url_for('login_page') }}" method="POST" class="registerLogin">
        <div class="rowItems">
            <label for="title-name" class="item1">Email: </label>
            <input name="email" type="email" class="searchInput item2" required>
        </div>
        <div class="rowItems">
            <label for="title-name" class="item1">Password: </label>
            <input name="password" type="password" class="searchInput item2" required>
        </div>
        <input type="submit" class="submitButton">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </form>
    {% include 'footer.html' %}
</body>
</html>