<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Register</title>
</head>
<body class="find-song-body">
    {% include 'header.html' %}
    <form action="{{ url_for('register_page') }}" method="POST" class="registerLogin">
        <div class="rowItems">
            <label for="title-name">First Name: </label>
            <input name="f_name" type="text" class="searchInput regSearch" required>
        </div>
        <div class="rowItems">
            <label for="title-name">Last Name: </label>
            <input name="l_name" type="text" class="searchInput regSearch" required>
        </div>
        <div class="rowItems">
            <label for="title-name"> Username: </label>
            <input name="username" type="text" class="searchInput regSearch" required>
        </div>
        <div class="rowItems">
            <label for="title-name">Email: </label>
            <input name="email" type="email" class="searchInput regSearch" required>
        </div>
        <div class="rowItems">
            <label for="title-name">Password: </label>
            <input name="password" type="text" class="searchInput regSearch" required>
        </div>
        <input type="submit" class="submitButton">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
    {% include 'footer.html' %}
</body>
</html>