<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>{{ title }}</title>
</head>
<body class="song-page-body">
    <div class="hero-container">
        <div class="nav-links">
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('library') }}">Library</a>
        </div>
        <div class="hero-text-container">
            <h1>{{ title }}</h1>
            <h2>{{ artist }}</h2>
        </div>
        <div class="hero-img-container">
            <img src="{{ img_url }}" alt="picture of song and or songs artist">
        </div>
    </div>
    <div class="music-player">
        <audio controls src="{{ mp3_path }}"></audio>
    </div>
    <div class="lyrics-container">
        <p>
            {% for lyric in lyrics %}
                {{ lyric }}<br>
            {% endfor %}
        </p>
    </div>
</body>
</html>