<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <title>{{ info.name }}</title>
</head>
<body class="library-body">
    {% include 'header.html' %}
    <h1 class="libraryHeader">{{ info.name }}</h1>
        {% if info.description %}
            <p class="partyDescription">{{ info.description }}</p>
        {% endif %}
        <div class="groupBodyContainer">             
            </div>
            <div class="music-card-container">
                {% for song in songs %}
                    <div class="musicCardRemoveContainer">
                        <a href="{{ url_for('song_page', song_id=song.song_id) }}">
                            <div class="musicCardBody">
                                <div class="music-card">
                                    <h2>{{ song.title }}</h2>
                                    <h3>{{ song.artist }}</h3>
                                    <div class="img-container-library">
                                        <img src="{{ song.img_url }}" alt="picture of song and or songs artist">
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% if info.administrator %}
                            <a href="{{ url_for('remove_song_from_group', party_id=info.party_id, song_id=song.song_id) }}" class="removeSong">REMOVE SONG</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% for song in songs %}
                <a href="{{ url_for('song_page', song_id=song.song_id) }}" class="displayMobile sideCard">
                    <div class="favCard sideCardHeight">
                        <img src="{{ song.img_url }}" alt="image of a artist or album cover">
                        <div class="dashboardTitleArtist sideCardTitleArtist">
                            <h3>{{ song.title }}</h3>
                            <h4>{{ song.artist }}</h4>
                        </div>
                    </div>
                </a> 
            {% endfor %}
        </div>
    {% include 'footer.html' %} 
</body>
</html>